{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}
    <h1>Agenda</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agenda.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ agenda.name }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ agenda.adress }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ agenda.phoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_agenda_index') }}">back to list</a>

    <a href="{{ path('app_agenda_edit', {'id': agenda.id}) }}">edit</a>

    {{ include('agenda/_delete_form.html.twig') }}
{% endblock %}
